$index: calc(1vh + 1vw);

.header-nodes {
    display: flex;
    align-items: center;
    height: 46px;
    font-size: 1rem;
    background-color: rgb(131, 119, 209);
    color: white;
    &__title {
        margin: 0; 
    }
    &__icon-button {
        margin-top: 6px
    }
}
.icon-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10em;
}
.icon-button:hover {
    background-color: transparent;
    border: none;
    color: rgb(250, 229, 189);
    border-radius: 10em;
}

.content {
    display: flex;
    min-height: calc(100% - 46px);
    &__nav-notes {
        all: unset;
        display: flex;
        flex-direction: column;
        flex-basis: calc(220px + (24px * 2) + 24px);
        background-color: rgb(9, 10, 11);
    }

    &__small-note {
        display: grid;
        grid-template-columns: 200px 24px 24px;
        height: 46px;
        margin: 8px 8px;
        padding: 8px 8px;
        background-color: rgb(18, 20, 23);
       
        border-radius: 10px;
    }
    &__small-note:hover {
        @extend .content__small-note;
        background-color: rgb(27, 30, 34);
        transition: background-color 0.5s;
    }
    &__small-note:active {
        @extend .content__small-note;
        background-color: rgba(255, 255, 255, 0.144);
    }

    &__note-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    &__choice-note {
        background-color: transparent;
        border: none;
        color: white;
        font-weight: 700;
        font-size: 1rem;
    }
    &__note-updated {
        color: white;
        font-style: italic;
        font-size: .5rem;
    }

    &__note {
        flex-basis: calc(100% - calc(200px + (24px * 2) + 24px));
        background-color: rgb(9, 10, 11);
        box-shadow: inset 0px 0px 10px 0px rgb(131, 119, 209);
    }
}